@font-face {
  font-family: 'Lora';
  font-display: swap;
  src: url('../../fonts/Lora-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-display: swap;
	font-weight: 500;
  src: url('../../fonts/Lora-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  src: url('../../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Didact Gothic';
  font-display: swap;
  src: url('../../fonts/didactgothic.woff2') format('woff2');
}