.sp-block-my_render .sp-acc-tab {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.sp-x-footer {
    display: none !important;
}

.sp-block-my_render .sp-acc-buttons1 {
    position: relative;
}

.sp-block-my_render .sp-acc-buttons2,
.sp-block-my_render .sp-acc-buttons1 {
    padding: 10px 10px 0;
    background: #eee;
}


.sp-block-my_render .sp-acc-buttons1,
.sp-block-my_render .sp-acc-buttons2 {
    font-size: 0;
}

.sp-block-my_render .sp-acc-buttons2 span {
    font-size: 13px;
}

.sp-block-my_render input.sp-acc-tab-value {
    width: 60%;
    float: right;
}

.sp-block-my_render .sp-acc-box {
    margin: 10px;
}

.sp-block-my_render .sp-acc-box-handle,
.sp-block-my_render .sp-acc-tab-handle {
    cursor: move;
}


.sp-block-my_render .sp-acc-box.ui-sortable-helper {
    background: #e0e8ea;
    padding: 10px 10px 20px;
}
.sp-block-my_render .sp-acc-tab.ui-sortable-helper {
    background: #e0e8ea;
    /*padding: 10px 10px 20px;*/
}

.sp-acc-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 40px;
}